@model Passengers.Models.Passenger

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h4 style="margin-left:100px;">PASSENGER DETAILS</h4>
    <form method="post" action="@Url.Action("AddIndex", "Home")">
        <div>
            <label for="Name" style="margin-left:100px;">First Name:</label>
            <input type="text" style="margin-left:100px;" name="FirstName" class="form-control" id="FirstName" placeholder="First Name" value="@Model.FirstName">
            <br />
            <label for="Name" style="margin-left:100px;">Last Name:</label>
            <input type="text" style="margin-left:100px;" name="LastName" class="form-control" id="LastName" placeholder="Last Name" value="@Model.LastName">
            <br />

            <button type="submit" style="margin-bottom:30px; margin-left:100px;">Add Passenger</button>
        </div>
    </form>
    <form method="get" action="@Url.Action("About", "Home")">
    <button type="submit" style="margin-left:100px;">Go to Passengers Overview</button>
</form>

</body>
</html>
